@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSans";
  src: url("/fonts/dmsans/DMSans-VariableFont_opsz,wght.ttf");
}

body {
  padding: 0;
  margin: 0;
  font-family: "DMSans", sans-serif;
}

a {
  font-variation-settings: "wght" 700;
}

p {
  font-variation-settings: "wght" 450;
  line-height: normal;
}

h1 {
  font-variation-settings: "wght" 700;
}

h2 {
  font-variation-settings: "wght" 400;
}

label {
  font-variation-settings: "wght" 500;
}
